<nav>
  <a routerLink="/promise-vs-observable" routerLinkActive="active">Promise vs Observable</a>
  <a routerLink="/creating-an-observable" routerLinkActive="active">Creating an Observable</a>
  <a routerLink="/managing-subscriptions" routerLinkActive="active">Managing Subscriptions</a>
  <a routerLink="/error-handling" routerLinkActive="active">Error Handling</a>
  <a routerLink="/transformation-operator" routerLinkActive="active">Transformation Operators</a>
  <a routerLink="/filtering-operator" routerLinkActive="active">Filtering Operators</a>
  <a routerLink="/combination-operator" routerLinkActive="active">Combination Operators</a>
  <a routerLink="/multicast-operator" routerLinkActive="active">Multicast Operators</a>
  <a routerLink="/long-lived-subject" routerLinkActive="active">Long Lived Subject</a>
  <a routerLink="/async-scheduler" routerLinkActive="active">Async Scheduler</a>
  <a routerLink="/animation-scheduler" routerLinkActive="active">Animation Frame Scheduler</a>
  <a routerLink="/animation-scheduler-hot" routerLinkActive="active">Animation Frame Scheduler Hot</a>
</nav>
<router-outlet></router-outlet>